{% extends 'base.html' %}
{% block title %}All Unofficial Reports{% endblock %}

{% block body %}
<style>
    h3{
    font-size: 2rem;
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    border: 5px solid #fff;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2.5rem 5rem;
  }
  h1{
    font-size: 1.9rem;
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    /* border: 5px solid #fff; */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -30%);
    padding: 2.5rem 5rem;
  }
  a:link, a:visited {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
  }
</style>


    <h3>Recent Unofficial Reports</h3>
    <div>
      <ul><h1>
          {% for unofficial in unofficials %}
            <li>
              
              <a href="/unofficials/{{ unofficial.unofficial_id }}">
                {{ unofficial.title}} - {{ unofficial.incident_datetime }}
              </a>
              
            </li>
          {% endfor %}
        </h1>
        </ul>
    </div>
<!-- {% for unofficial in unofficials %}
    <p>{{unofficial}}</p>

    {% endfor %} -->

{% endblock %}