{% extends 'base.html' %}
{% block title %}Kinjo Community Watch{% endblock %}

{% block body %}
  <h1>Welcome to Kinjo!</h1>

  <h2>Navbar</h2>
  <ul>
    <li><a href="/officials">View all official reports</a></li>
    <li><a href="/unofficials">View all unofficial reports</a></li>
    <li><a href="/users">View all users</a></li> <!--for quick ref, remove later -->
    <li><a href="/incident_report">Submit an incident</a></li>
  </ul>

  <br/>
  <br/>
  <h2>Log In</h2>
  <form action="/login" method="POST">
    <p>
      Email <input type="text" name="email" required>
    </p>

    <p>
      Password <input type="password" name="password" required>
    </p>

    <p>
      <input type="submit" value="Login">
    </p>
  </form>

  <h4>New to Kinjo? <a href="/register">Register!</a></h4>


{% endblock %}