{% extends 'base.html' %}
{% block title %}Kinjo Community Watch{% endblock %}

{% block body %}
  <!-- <h1>Kinjo</h1> -->

  <!-- <h2>Navbar</h2> -->
  <!-- <ul> -->
    <!-- <li><a href="/officials">View all official reports</a></li> -->
    <!-- <li><a href="/unofficials">Unofficial Reports</a></li> -->
    <!-- <li><a href="/incident_report">Submit a Report</a></li> -->
    <!-- <li><a href="/users">View all users</a></li> for quick ref, remove later -->
    <!-- <li><a href="/search">Search</a></li> -->
    <!-- <li><a href="/register">Register</a></li> -->
    <!-- <li><a href="/login">Login</a></li> -->
    <!-- <li><a href="/logout">Logout</a></a></li> -->
  <!-- </ul> -->

  <!-- <br/>
  <br/>
  <h2>Log In</h2>
  <form action="/login" method="POST">
    <p>
      Email <input type="text" name="email" required>
    </p>

    <p>
      Password <input type="password" name="password" required>
    </p>

    <p>
      <input type="submit" value="Login">
    </p>
  </form>

  <h4>New to Kinjo? <a href="/register">Register!</a></h4> -->


{% endblock %}