{% extends 'base.html' %}
{% block title %}Kinjo Community Watch{% endblock %}


{% block body %}

<style>

  h2{
    font-size: 4rem;
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    border: 5px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2.5rem 5rem;
}
</style>

    <!-- <h1>Kinjo</h1> -->
    
    
    <h2>
      <i>"The greatness of a community is most 
      accurately measured by the compassionate 
      actions of its members."<br>
      - Coretta Scott King
      </i>
    </h2>



{% endblock %}