{% extends 'base.html' %}

{% block title %}Details{% endblock %}

{% block body %}

<style>
h1, h3{
    text-align: center;
    color: #fff;
}
h4{
    text-align: right;
    color: #fff;
}
</style>

<h1>{{incident['incident_category']}}</h1>

<p>
  <h3>{{incident['incident_subcategory']}}</h3>
</p>
<ul>
  <h3>
    <p>Incident Datetime: {{incident['incident_datetime']}}  </p>
    <p>Description: {{incident['incident_description']}} </p>
    <p>Neighborhood: {{incident['analysis_neighborhood']}} </p> 
    <p>Category: {{incident['incident_category']}}</p>
  </h3>
</ul>    


  <h4>Comments</h4>
      <h4>Write a comment
        <p>
          <form>
            <textarea name="comment" id="comment"> </textarea>
              <br />
            <input type="submit" value="Submit" title="Comment">    
          </form>
        </p>
      </h4>
{% endblock %}

<!-- <form action="/official/{{official.official_id}}/comment" method="POST"> -->

